.contact-info{
  margin:40px auto;
  text-align: center;
  justify-content: center;
  
 
 }
 
 #location{
   color:crimson;
 
 }
 #email{
   color:blue;
   
 }
 #call{
   color:green;
 }
 .icon-style{
   font-size: 30px;
 }
 #location:hover{
   color:crimson;
   
   transform:translateY(2px);
 }
 
 
 #email:hover{
   color:blue;
 
   transform:translateY(2px);
 }
 
 #call:hover{
   color:green;
  
   transform:translateY(2px);
 }
 .icon-name{
  color:black;
  font-size: 20px;
  font-family: 'Nunito Sans', sans-serif;
  margin-top: 10px;
 }
 
 .p {
   font-size: 14px;
   margin-left: 35px;
   margin-top: 10px;
   color:#0000;
 }
   .second-part{
     box-shadow: 0 0 10px  rgb(30, 6, 6);
   display:flex;
   height: auto;
   width:70%;
   margin:10px auto;
   padding: 30px 20px;
   justify-content: center;
   text-align: center;
   margin-bottom:30px;
 
   }
   .location-part{
     
     padding:10px;
     width:500px;
     margin:20px;
   }
   .email-part{
     padding:10px;
     width:400px;
     margin:20px;
   }
   .call-part{
   
     padding:10px;
     width:400px;
     margin:20px;
   }
   @media screen and (max-width: 700px) {
    .second-part{
      box-shadow: 0 0 20px rgb(30, 6, 6);
      display:block;
      height: auto;
      width:100%;
      padding: 20px 20px;
      justify-content: center;
      text-align: center;
     margin:10px auto;
      }
     
   }
