@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.content {
    background-image: url('./../images/index/products/bgimage.jpeg');
    background-size: cover;
    padding: 100px 0;
    text-align: center;
    color: white;
  }
  .product-card {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    cursor: pointer;
  }
  .centered-text {
    text-align: center;
    margin-top:10px; /* Adjust as needed */

  }