

#choco2{
    width:350px;
    height:380px;
    object-fit:cover;
    border:1px solid black;
    border-radius:20px;
    margin:auto 130px;
    
}
.info{
    width:300px;
}
.ice-des{
    width:300px;
    margin-left:300px;
    height:300px;
  }
  
.btn{
   
   
    padding: 10px 20px;
    background-color:rgb(30, 6, 6);;
    color: white;
    border-radius: 60px;
    font-weight: bold;
    font-family: "Space Grotesk", sans-serif;
    text-decoration: none;
    font-size: 15px;
    transition: all .3s ease-out;
    border:none;
}

    .mainImg1 {
        width: 450px;
        height: 550px;
        border-radius:20px ;
    }
.product-container{
    display: flex;
}
  .qty{
    display: flex; 
    margin: 5px
  }  
  .product-btn1{
    margin-left: 15px;
  }


    @media screen and (max-width: 700px){
        .card{
            margin-top: 50px;
        }
        
    .mainImg1 {
        width: 350px;
        border-radius:30px;
        height:300px;
        
       
    }
  .product-container{
    display: block;

  }
  .qty{
    display:block; 
    margin: 5px
  }  

  .product-btn1{
    margin-left: 50px;
  }


    }






    